header {
  height: 80px;
  font-size: 18px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  border-bottom: 2px solid black;
  box-shadow: 3px 4px 5px black;
}

header img {
  filter: drop-shadow(2px 3px 4px black);
}

.contenter {
  height: 356px;
  width: fit-content;
  display: block;
  margin: 30px auto;
  border: 2px solid black;
  padding-top: 10px;
  box-shadow: 5px 4px 6px black;
  background-color: aqua;
}
.formulario {
  margin-bottom: 20px;
}

.formulario input {
  margin-top: 10px;
  margin-left: 40px;
  border: 2px solid black;
  padding: 5px 4px;
  border-radius: 20px;
}

.formulario input:hover {
  border: 2px solid orange;
  cursor: text;
}

.formulario button {
  margin-left: 80px;
  margin-top: 10px;
  padding: 5px 4px;
  border-radius: 30px;
}

.formulario button:hover {
  border: 2px solid red;
  cursor: grab;
}
